@import url("narrow.css") screen and (max-width: 980px);
@import url("wide.css") screen and (min-width: 981px);
body {
  margin: 0px;
  font-family: DIN,helvetica,arial,sans-serif;
  font-size: 0.85em;
  line-height: 1.4em;
  position: relative;
  background-color: #605050; }

/*---------- class templates ---------------*/
.white-text, #maria-container #maria p, #kevin p {
  color: #fbfbfb;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 40px; }

/*------------ logo animated ---------------*/
#logo-container {
  width: 100%;
  background: #605050; }

.raum-animation {
  height: 30em;
  background: #605050;
  text-align: center;
  padding-top: 15.5em; }

#logo-animation {
  text-align: center;
  position: absolute;
  width: 100%; }
  #logo-animation #r-counter {
    position: absolute;
    margin-top: 236px;
    margin-left: -259px; }
  #logo-animation #a-counter {
    position: absolute;
    margin-top: 254px;
    margin-left: -125px;
    width: 79px;
    height: 110px; }
  #logo-animation #u-counter {
    position: absolute;
    margin-top: 211px;
    margin-left: 30px; }
  #logo-animation #m-counter {
    position: absolute;
    margin-top: 211px;
    margin-left: 176px;
    height: 153px;
    width: 83px; }

img#counterbanner {
  z-index: 4;
  margin-top: -400px; }

#tagline {
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FCFCFC;
  font-size: 1.3em;
  margin-top: 1.6em;
  z-index: 3;
  position: relative; }

#trigger1 {
  height: 3em; }

/*------------ owners ---------------*/
.owner-background, .logo-pin-spacer {
  background: url(images/owners.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: -1; }

#owners-container {
  width: 100%;
  height: 0;
  padding-bottom: 59%; }
  #owners-container .owner-text, #owners-container #text-decoration-left p, #owners-container #text-decoration-right p {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    color: #414142;
    line-height: .3; }
  #owners-container #text-decoration-left {
    border-bottom: 1px solid #414142;
    position: relative;
    width: 300px;
    float: right;
    margin-right: 70%;
    margin-top: 66px;
    text-align: right; }
    #owners-container #text-decoration-left p {
      text-align: left; }
  #owners-container #text-decoration-right {
    position: relative;
    border-bottom: 1px solid #414142;
    width: 300px;
    float: left;
    margin-left: 62.5%;
    margin-top: 100px;
    text-align: left; }
    #owners-container #text-decoration-right p {
      text-align: right; }

/*------------- meet ----------------*/
div#meet-container {
  width: 100%;
  height: 660px;
  background-color: #f5f0e8;
  text-align: center; }
  div#meet-container img {
    margin: 70px 0 30px 0; }
  div#meet-container p {
    width: 528px;
    text-align: left;
    padding-top: 70px;
    margin: 0 auto;
    font-family: Georgia;
    font-size: 21px;
    color: #8d807e;
    letter-spacing: 1px;
    line-height: 1.4; }
  div#meet-container .meet-center {
    text-align: center;
    width: 700px;
    margin: 0 auto; }
  div#meet-container #diamonds {
    margin: 0 auto;
    width: 44px;
    float: left;
    padding-right: 25px;
    padding-left: 25px; }
    div#meet-container #diamonds .box {
      width: 10px;
      height: 10px;
      -ms-transform: rotate(45deg);
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      /* Chrome, Safari, Opera */
      transform: rotate(45deg);
      background-color: #605050;
      float: left;
      margin: 2px;
      margin-top: 7px; }
    div#meet-container #diamonds #hollow-box {
      width: 8px;
      height: 8px;
      border: 2px solid #605050;
      background-color: #f5f0e8;
      margin-top: 6px; }
  div#meet-container .meet-line-container {
    float: left;
    width: 300px;
    border-bottom: 1px solid rgba(96, 80, 80, 0.5);
    margin-top: 12px; }

/*------------ subway/cana text banners ---------------*/
.text-banner {
  height: 660px;
  width: 100%;
  background-color: #776a6a;
  display: table; }
  .text-banner p {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fbfbfb;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 40px;
    font-size: 30px; }

/*------------ Maria ----------------*/
#maria-container {
  width: 100%;
  padding-bottom: 75%;
  height: 0;
  background: url(images/maria.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #maria-container #maria {
    height: 100%;
    width: 100%; }
    #maria-container #maria p#home-text {
      margin: 0;
      padding-top: 40px;
      font-size: 54px;
      width: 400px;
      line-height: 0.9; }
    #maria-container #maria p#home-sub {
      letter-spacing: 0; }

/*------------ tweets ---------------*/
.twitter-block {
  height: 800px;
  width: 100%;
  background-color: #776a6a; }
  .twitter-block .tweet-container {
    width: 491px;
    float: left;
    margin: 100px 0 0 100px; }
    .twitter-block .tweet-container img {
      float: left; }
    .twitter-block .tweet-container .tweet-box-container {
      float: left; }
      .twitter-block .tweet-container .tweet-box-container .tail {
        float: left;
        width: 0;
        height: 0;
        margin: -8px 0 0 10px;
        border-style: solid;
        border-width: 0 0 15px 22px;
        border-color: transparent transparent #605050; }
      .twitter-block .tweet-container .tweet-box-container .outer-tweet {
        float: left;
        width: 300px;
        height: 300px;
        background-color: #605050;
        margin-top: -22px;
        padding: 0;
        text-align: center; }
        .twitter-block .tweet-container .tweet-box-container .outer-tweet .inner-tweet {
          width: 90%;
          height: 90%;
          background-color: #fbfbfb;
          text-align: left;
          margin: 5% 0 0 5%; }
  .twitter-block .tweet-container-right {
    width: 491px;
    float: right;
    margin: 100px 100px 0; }
    .twitter-block .tweet-container-right img {
      float: right;
      /*--- flip image ---*/
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH"; }
    .twitter-block .tweet-container-right .tweet-box-container-right {
      float: right; }
      .twitter-block .tweet-container-right .tweet-box-container-right .tail-right {
        float: right;
        width: 0;
        height: 0;
        margin: -8px 10px 0 0;
        border-style: solid;
        border-width: 0 22px 15px 0;
        border-color: transparent transparent #605050; }
      .twitter-block .tweet-container-right .tweet-box-container-right .outer-tweet-right {
        float: right;
        width: 300px;
        height: 300px;
        background-color: #605050;
        margin-top: -22px;
        padding: 0;
        text-align: center; }
        .twitter-block .tweet-container-right .tweet-box-container-right .outer-tweet-right .inner-tweet-right {
          width: 90%;
          height: 90%;
          background-color: #fbfbfb;
          text-align: left;
          margin: 5% 0 0 5%; }

/*----------- kevin ---------------*/
#kevin {
  background: url(images/kevin.jpg) no-repeat top center;
  height: 700px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #kevin p {
    float: right;
    width: 100%; }
  #kevin p#kevin-text {
    margin: 0;
    padding-top: 40px;
    font-size: 54px;
    width: 400px;
    line-height: 0.9; }
  #kevin p#kevin-sub {
    letter-spacing: 0; }

/*------------ footer ---------------*/
